/* styles/Mainscreen.module.css */
.mainscreen {
  background-color: #f9f9f9;
  height: calc(100vh - 60px);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card h2 {
  margin: 0 0 10px;
  font-size: 22px;
  color: #333;
}

.card p {
  margin: 0;
  color: #666
}