.blue-div-icon {
  background-color: blue;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.blue-div-icon div {
  background-color: blue;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.red-div-icon {
  background-color: red;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.red-div-icon div {
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.yellow-div-icon div {
  background-color: yellow;
  color: black;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.yellow-div-icon {
  background-color: yellow;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.green-div-icon div{
  background-color: green;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.green-div-icon {
  background-color: green;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.purple-div-icon {
  background-color: purple;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.purple-div-icon div {
  background-color: purple;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.black-div-icon {
  background-color: black;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: block;
  background: transparent;
  border: none;
}

.black-div-icon div {
  background-color: black;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 5px;
}

.leaflet-control-attribution {
  display: none !important;
}

.leaflet-routing-container {
  display: none !important;
}